#about {
    background-color: #181A1B;
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
}

#about h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

#about div {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin: auto;
}

#about img#profile-picture {
    width: 300px;
    height: auto;
    border-radius: 50px;
}

#about p {
    margin-left: 50px;
    font-size: 18px;
    color: #9E9589;
    text-align: justify;
}