/* Style de la section d'accueil */
#home {
    background: url('../assets/home.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 0;
}

#home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home h1 {
    font-size: 64px;
    margin-bottom: 100px;
    overflow: hidden;
    border-right: 4px solid #ffffff;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards, blink 1s step-end infinite 0s;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    #home h1 {
        font-size: 48px; /* Smaller font for tablets */
        margin-bottom: 60px;
    }
}

@media (max-width: 480px) {
    #home h1 {
        font-size: 32px; /* Even smaller font for smartphones */
        margin-bottom: 40px;
    }
}

/* Style du bouton */
#home_btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
    opacity: 0; /* Commence invisible */
    animation: fadeIn 2s ease-in-out forwards; /* Applique le fondu */
    animation-delay: 1s; /* Début du fondu après le titre */
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

#home_btn:hover {
    border-radius: 15px;
    background-color: #191919;
    font-weight: bold;
}

/* Animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation de clignotement du curseur */
@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #ffffff;
    }
}
