/* Style général */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Désactiver le défilement sur les appareils mobiles */
@media only screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }
}
