/* ==================== GLOBAL STYLES ==================== */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}

:root {
    --background-image: url('../assets/bg-dark.svg');
}

[data-theme="light"] body {
    color: #333333;
    --background-image: url('../assets/bg-light.svg');
}

.highlight {
    color: #fb9e24;
    font-weight: 600;
}
